*{
  margin: 5px;
  box-sizing: border-box;
  flex: auto;
}

body 
{
  width:auto; 
  background-image:url("/images/bg.png"); 
  color: white; 
  background-position: center top; 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-attachment: fixed;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 125%;
  padding: 3em;
  flex-direction: column;
  display: flex;
  flex: auto;
}

span {color: #039f5b;}


header 
{  background-color: #04aa6d09;
  text-align: center;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  
li {
    display: inline-block;
    padding: 1rem;
  }
  
li a {
    display: block;
    color: white;
    box-shadow: 0px 0px 7px  rgba(0, 0, 0, 0.753);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 5px 5px;
  }
  
li a:hover 
{
    background-color: #5c5c5c;
  }

.active 
{
    background-color: #90cc930e;
  }

.navbuttonm
  {
    color: white;
    text-decoration: none;
    list-style: none;
    padding: 8px;
    background-color: #ccf5d64b;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 14px;
    transition-duration: 0.4s;
  }

.navbutton1
{
  color: white;
  text-decoration: none;
  list-style: none;
  display: flex;
  margin: auto;
}

.navbutton2
{
  color: white;
  text-decoration: none;
  list-style: none;
  padding: 8px;
  border: 4px solid green;
  background-color: #FF0000; /* Youtube Red */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.navbutton3 {  color: white;
  text-decoration: none;
  list-style: none;
  padding: 8px;
  border: 4px solid green;
  background-color: #9147fe; /* Purple Heart */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.navbutton4 {  color: white;
  text-decoration: none;
  list-style: none;
  padding: 8px;
  background-color: #5865F2; /* Vista Blue */
  border-left: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

div > img 
{
    border: 2px solid green;
    vertical-align: text-top; 
    display: inline-block;
    cursor: crosshair;
}

#footer-container-1  {
    padding: 4px;
    text-align: center;
    color: white;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 2px;
  }

#socials {
    padding: 10px;
    text-align: center;
    color: white;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 4px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
    width: 100%;
    margin-bottom: 10px;
    color: #fff;
}

form input[type="text"],
form textarea,
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

form input[type="radio"] {
    margin-right: 5px;
}

form input[type="submit"] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #039f5b;
}

select {
    width: fit-content;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.right {
  display: flex;
  align-items: center;
}
.left-1{
  display: flex;
  align-items: center;
}
.left-2{
  display: flex;
  align-items: center;
}

section img {
    border-radius: 0;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    width: 100%;
    border: 1px solid green;
    box-shadow: 0 0 10px green;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding: 10px;
}

.grid-container > div {
    text-align: center;
    padding: 0;
    font-size: 30px;
}

.grid-container > video {
    margin: 0 auto;
    width: 85%;
}

article {
    box-shadow: 1px 0 7px green;
    text-align: center;
    display: flex;
    flex: auto;
    flex-direction: column;
    height: auto;
}

iframe {
    align-content: center;
    padding: 16px 20px;
    border: 2px solid green;
    justify-content: center;
    display: flex;
    margin: auto;
}

/* Footer Styles */
footer {
    color: #fff;
    padding: 7px 0;
    text-align: center;
}

footer h3, footer h5 {
    margin: 6px 0;
}

footer section {
    margin: 5px 0;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin: 0 5px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer ul li a:hover {
    color: #04AA6D;
}

footer nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer nav ul div {
    margin: 8px;
}

footer nav ul li {
    margin: 5px 0;
}

